%section.hero.hero--home.parallax
  .container.text-center
    %h1.hero__title
      My Backup Agent is
      %span.hero__text--typed{"data-elements" => "Convenient, Modern, Multipurpose, Creative"}
    %p.hero__text
      A Fully responsive multipurpose Template based on bootstrap
    %div.hero__ctas
      %a.btn.btn-lg.hero__link.border-button--danger{:href => "#"} Purchase now
      %a.btn.btn-lg.hero__link.border-button--white{:href => "#"} Contact us

.brick--dark
  .container
    .row.row-same-height
      .col-sm-8.col-sm-height.col-middle
        %h4.brick__title
          My Backup Agent Just Makes Sense
        %p.brick__text
          Clean  powerful Easy to use multipurpose business HTML5 template.
      .col-sm-4.col-sm-height.col-middle
        %a.btn.btn-lg.border-button.border-button--white.brick__cta{:href => "#"} Purchase now

.page
  .page__row
    .container
      .row
        .col-sm-8.col-sm-offset-2
          %h2.page__title.text-center
            Welcome to My Backup Agent
          %span.page__center-line
          %p.page__text
            We want to present you a simple and functional template “ASSAN”. It is a powerful
            Multi-Purpose HTML 5 Template. Build whatever you like with this Template that looks
            effortlessly on-point in Business, Corporate, Agency, Personal, Portfolio, Blog, Shop,
            Events just everything is possible with ASSAN. With all it features you can build
            something great.
  .page__row
    .container
      .row
        .col-md-4.col-sm-12
          .service-box
            .service-box__icon-container
              = s7_icon 'diamond', class: 'service-box__icon'
            .service-box__body
              %h4.service-box__title
                Creative ideas
              %p
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
              %p
                = link_to '#', class: 'service-box__cta' do
                  = fa_icon 'angle-right', class: 'service-box__cta-icon', text: 'More Info'
        .col-md-4.col-sm-12
          .service-box
            .service-box__icon-container
              = s7_icon 'photo', class: 'service-box__icon'
            .service-box__body
              %h4.service-box__title
                Web Design
              %p
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
              %p
                = link_to '#', class: 'service-box__cta' do
                  = fa_icon 'angle-right', class: 'service-box__cta-icon', text: 'More Info'
        .col-md-4.col-sm-12
          .service-box
            .service-box__icon-container
              = s7_icon 'paper-plane', class: 'service-box__icon'
            .service-box__body
              %h4.service-box__title
                Marketing
              %p
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
              %p
                = link_to '#', class: 'service-box__cta' do
                  = fa_icon 'angle-right', class: 'service-box__cta-icon', text: 'More Info'
        .col-md-4.col-sm-12
          .service-box
            .service-box__icon-container
              = s7_icon 'help1', class: 'service-box__icon'
            .service-box__body
              %h4.service-box__title
                Free Support
              %p
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
              %p
                = link_to '#', class: 'service-box__cta' do
                  = fa_icon 'angle-right', class: 'service-box__cta-icon', text: 'More Info'
        .col-md-4.col-sm-12
          .service-box
            .service-box__icon-container
              = s7_icon 'display2', class: 'service-box__icon'
            .service-box__body
              %h4.service-box__title
                HTML 5 / CSS3
              %p
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
              %p
                = link_to '#', class: 'service-box__cta' do
                  = fa_icon 'angle-right', class: 'service-box__cta-icon', text: 'More Info'
        .col-md-4.col-sm-12
          .service-box
            .service-box__icon-container
              = s7_icon 'light', class: 'service-box__icon'
            .service-box__body
              %h4.service-box__title
                Based on Bootstrap
              %p
                Sed ut perspiciatis unde omnis iste natus sit voluptatem
              %p
                = link_to '#', class: 'service-box__cta' do
                  = fa_icon 'angle-right', class: 'service-box__cta-icon', text: 'More Info'
