!!!
%html{lang: 'en'}
  %head
    = render 'shared/head_meta'
    = yield(:meta)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield(:head)
  %body
    = render 'shared/header_hat'
    = render 'shared/navbar_public'
    = yield
    = render 'shared/footer'
